.linear{
  
background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%);
}
.back{

    background: rgba(18, 18, 18, 0.70);
   
}
@media screen and (max-width:768px) {
    .order{
        order: -1;
      
        
    }
    .dropdown{
      
        margin-left: auto;
    }
    
}
   